<div class="dashboard-wrapper">
  <div class="top-container">
    <form class="search-form" {{action 'search' on='submit' }}>
      {{input type="text" class="search-input" placeholder="Search" value=searchTerm}}
    </form>
    <div class="profile-container">
      <div class="avatar"><img src="/assets/img/marlin_logo.png"></div>
      <div class="profile-info">
        <ul class="profile-stats">
          <li></li>
          <li></li>
        </ul>
      </div>

      <div class="file-picker">

        <!-- {{input class="reg-field r1 email inputters" value=email placeholder='Email Address'}}<br> -->


        <!-- {{ember-filepicker input type="filepicker" data-fp-apikey="A4kxhmkh4TVYjc7Kv3IGQz" data-fp-mimetypes="*/*" data-fp-container="modal" data-fp-multiple="true" data-fp-services="COMPUTER,DROPBOX,FACEBOOK,GMAIL,INSTAGRAM" onchange="out='';for(var i=0;i<event.fpfiles.length;i++){out+=event.fpfiles[i].url;out+=' '};alert(out)"}} -->

        {{ember-filepicker options=options onSelection='fileSelected' onClose='onClose' onError='onError'}}
      </div>

    </div>
  </div>
  <div class="bottom-container">
        <ul class="dashboard-list">
          <li></li>
          <li></li>
          <li></li>
        </ul>
  </div>
</div>
{{outlet}}
