<div class="dashboard-wrapper">
  <div class="top-container">
    <form class="search-form" {{action 'search' on='submit' }}>
      {{input type="text" class="search-input" placeholder="Search" value=searchTerm}}
    </form>
  </div>
  <div class="bottom-container">
        <ul class="dashboard-list">
          <li>{{fa-icon "life-ring"}}</li>
          <li>{{fa-icon "fa-signal"}}</li>
          <li>{{fa-icon "fa-moon-o"}}</li>
        </ul>
  </div>
</div>
{{outlet}}
