<div class="dashboard-wrapper">
  <div class="top-container">
    <form class="search-form" {{action 'search' on='submit' }}>
      {{input type="text" class="search-input" placeholder="Search" value=searchTerm}}
    </form>
    <div class="profile-container">
      <div class="avatar"><img src="/assets/img/marlin_logo.png"></div>
      <div class="profile-info">
        <ul class="profile-stats">
          <li>{{session.currentUser.firstName}}</li>
          <li>{{session.currentUser.lastName}}</li>
          <li>{{input class="profile-fields" value=city placeholder='City'}}</li>
          <li>{{input class="profile-fields" value=state placeholder='State'}}</li>
          <li>{{input class="profile-fields" value=boatName placeholder='Boat Name'}}</li>
        </ul>
      </div>
      {{link-to "Edit Profile" 'segue.edit-profile'}}
    </div>
  </div>
  <div class="bottom-container">
    <div class="filepicker-photo-upload-dashboard"><img {{bind-attr src='object.url'}}/></div>
  </div>
</div>
{{outlet}}

<!-- <div class="file-picker">
  {{input class="reg-field r1 email inputters" value=email placeholder='Email Address'}}<br>
  {{ember-filepicker input type="filepicker" data-fp-apikey="A4kxhmkh4TVYjc7Kv3IGQz" data-fp-mimetypes="*/*" data-fp-container="modal" data-fp-multiple="true" data-fp-services="COMPUTER,DROPBOX,FACEBOOK,GMAIL,INSTAGRAM" onchange="out='';for(var i=0;i<event.fpfiles.length;i++){out+=event.fpfiles[i].url;out+=' '};alert(out)"}}
</div> -->
