<div class="dashboard-wrapper">
  <div class="top-container">
    <form class="search-form" {{action 'search' on='submit' }}>
      {{input type="text" class="search-input" placeholder="Search" value=searchTerm}}
    </form>
    <div class="profile-container">
      <div class="avatar"><img src="/assets/img/marlin_logo.png"></div>
      <div class="profile-info">
        <ul class="profile-stats">
          <li class="profile-labels">First Name</li>
          <li>{{session.currentUser.firstName}}</li>
          <li class="profile-labels">Last Name</li>
          <li>{{session.currentUser.lastName}}</li>
          <li class="profile-labels">Username</li>
          <li>{{session.currentUser.username}}</li>
          <li class="profile-labels">Email Address</li>
          <li>{{session.currentUser.email}}</li>
          <!-- <li>{{input class="profile-fields" value=city placeholder='City'}}</li> -->
          <!-- <li>{{input class="profile-fields" value=state placeholder='State'}}</li> -->
          <!-- <li>{{input class="profile-fields" value=boatName placeholder='Boat Name'}}</li> -->
        </ul>
      </div>
      {{link-to "Edit Profile" 'segue.edit-profile'}}
    </div>
  </div>
  <div class="bottom-container">
    {{#each photo in model}}
      <li class="media-icons icon-2.1"><a {{bind-attr href=photo.url}} data-width="250" data-height="250"><img {{bind-attr src=photo.url}}></a></li>
    {{/each}}
  </div>
</div>
{{outlet}}
