<div class="profile-editor">
    <form id="profile-editor-form" {{action 'saveProfile' on='submit'}}>
      <br>
      <fieldset class="edit-fieldset">
        {{input placeholder="First Name" value=session.currentUser.firstName}}
        {{input placeholder="Last Name" value=session.currentUser.lastName}}
        {{input placeholder="Address" value=session.currentUser.address}}
        {{input class="profile-fields" value=city placeholder='City'}}
        {{input class="profile-fields" value=state placeholder='State'}}
        {{input class="profile-fields" value=boatName placeholder='Boat Name'}}
        <input type="submit" value="Update" class="submit-updates"/>
      </fieldset>
    </form>
</div>
{{outlet}}
