<div class="wrapper">
  <div class="nav-left"></div>
  <div class="home-btn">{{link-to "Home" 'welcome'}}</div>
  <div class="index-navbar">
    <div class="nav-container">
      <ul>
        <li>{{link-to "Register" 'register'}}</li>
        <li>{{link-to "Login" 'login'}}</li>
        <li>{{link-to "Map" 'segue.view-one'}}</li>
        <li>{{link-to "Species" 'segue.species-ref'}}</li>
        <li>{{link-to "Radar" 'segue.weather-radar'}}</li>
        <li>{{link-to "Media" 'segue.forum'}}</li>
      </ul>
    </div>
  </div>
  <div class="top-border-div"></div>
    <div class="species-wrapper">
      <h1 contenteditable="" style="text-shadow: rgb(204, 204, 204) 0px 1px 0px, rgb(201, 201, 201) 0px 2px 0px, rgb(187, 187, 187) 0px 3px 0px, rgb(185, 185, 185) 0px 4px 0px, rgb(170, 170, 170) 0px 5px 0px, rgba(0, 0, 0, 0.0980392) 0px 6px 1px, rgba(0, 0, 0, 0.0980392) 0px 0px 5px, rgba(0, 0, 0, 0.298039) 0px 1px 3px, rgba(0, 0, 0, 0.2) 0px 3px 5px, rgba(0, 0, 0, 0.247059) 0px 5px 10px, rgba(0, 0, 0, 0.2) 0px 10px 10px, rgba(0, 0, 0, 0.14902) 0px 20px 20px;">Media Room</h1>
      <h5 contenteditable="" style="text-shadow: rgb(204, 204, 204) 0px 1px 0px, rgb(201, 201, 201) 0px 2px 0px, rgb(187, 187, 187) 0px 3px 0px;">Start a discussion, share photos, list items for sale, and check in for tournament updates!</h5>
        <ul class="media-list">

          <li class="media-icons icon-1"><img src="/assets/img/tuna_logo.png"></li>
          <li class="media-icons icon-2"><img src="/assets/img/sailfish_logo.png"></li>
          <li class="media-icons icon-3"><img src="/assets/img/marlin_logo.png"></li><br>

          <li class="media-icons icon-1.2"><img src="/assets/img/tuna_logo.png"></li>
          <li class="media-icons icon-2.2"><img src="/assets/img/sailfish_logo.png"></li>
          <li class="media-icons icon-3.2"><img src="/assets/img/marlin_logo.png"></li><br>

          <li class="media-icons icon-4"><img src="/assets/img/teaser.png"></li>
          <li class="media-icons icon-5"><img src="/assets/img/rod.png"></li>
          <li class="media-icons icon-6"><img src="/assets/img/tuna-icon.png"></li><br>


          <li class="media-icons icon-4.2"><img src="/assets/img/teaser.png"></li>
          <li class="media-icons icon-5.2"><img src="/assets/img/rod.png"></li>
          <li class="media-icons icon-6.2"><img src="/assets/img/tuna-icon.png"></li><br>

          <li class="media-icons icon-7"><img src="/assets/img/record-holder.png"></li>
          <li class="media-icons icon-8"><img src="/assets/img/sonar.png"></li>
          <li class="media-icons icon-9"><img src="/assets/img/calendar-icon.png"></li><br>

          <li class="media-icons icon-7.2"><img src="/assets/img/record-holder.png"></li>
          <li class="media-icons icon-8.2"><img src="/assets/img/sonar.png"></li>
          <li class="media-icons icon-9.2"><img src="/assets/img/calendar-icon.png"></li>

        </ul>
    </div>
</div>
{{outlet}}
<div class="media-boxes box-1"></div>
<div class="media-boxes box-2"></div>
<div class="media-boxes box-3"></div>
<div class="media-boxes box-4"></div>
<div class="media-boxes box-5"></div>
<div class="media-boxes box-6"></div>
<div class="media-boxes box-7"></div>
<div class="media-boxes box-8"></div>
<div class="media-boxes box-9"></div>
