<div class="forum-wrapper">
  <div class="nav-left"></div>
  <div class="home-btn">{{link-to "Home" 'welcome'}}</div>
  <div class="index-navbar">
    <div class="nav-container">
      <ul>
        <li>{{link-to "Register" 'register'}}</li>
        <li>{{link-to "Login" 'login'}}</li>
        <li>{{link-to "Species" 'segue.species-ref'}}</li>
        <li>{{link-to "Radar" 'segue.weather-radar'}}</li>
        <li>{{link-to "Media" 'segue.forum'}}</li>
      </ul>
    </div>
  </div>
  <div class="top-border-div"></div>
      <h1 class="media-room-header" contenteditable="">Media Room</h1>
      {{#photo-swipe}}
        <ul class="media-list">
          <li class="media-icons icon-1.2"><a href="/assets/img/flip.png" data-width="250" data-height="250"><img src="/assets/img/flip.png"></a></li>
          <li class="media-icons icon-2.1"><a href="/assets/img/deep-sea-charter-fishing.jpg" data-width="250" data-height="250"><img src="/assets/img/deep-sea-charter-fishing.jpg"></a></li>
          <li class="media-icons icon-2.2"><a href="/assets/img/sky.jpg" data-width="250" data-height="250"><img src="/assets/img/sky.jpg"></a></li>
          <li class="media-icons icon-3.2"><a href="/assets/img/marlin.jpg" data-width="250" data-height="250"><img src="/assets/img/marlin.jpg"></a></li>
          <li class="media-icons icon-4.2"><a href="/assets/img/fighting-dolphin.jpg" data-width="250" data-height="250"><img src="/assets/img/fighting-dolphin.jpg"></a></li>
          <li class="media-icons icon-5.2"><a href="/assets/img/fishon.jpg" data-width="250" data-height="250"><img src="/assets/img/fishon.jpg"></a></li>
          <li class="media-icons icon-5.3"><a href="/assets/img/mackeral.jpg" data-width="250" data-height="250"><img src="/assets/img/mackeral.jpg"></a></li>
          <li class="media-icons icon-6.2"><a href="/assets/img/snagged.jpg" data-width="250" data-height="250"><img src="/assets/img/snagged.jpg"></a></li>
          <li class="media-icons icon-7.2"><a href="/assets/img/bigtuna.jpg" data-width="250" data-height="250"><img src="/assets/img/bigtuna.jpg"></a></li>
          <li class="media-icons icon-8.1"><a href="/assets/img/7.jpg" data-width="250" data-height="250"><img src="/assets/img/7.jpg"></a></li>
          <li class="media-icons icon-8.2"><a href="/assets/img/blackmarlin.jpg" data-width="250" data-height="250"><img src="/assets/img/blackmarlin.jpg"></a></li>
          <li class="media-icons icon-9.2"><a href="/assets/img/runningout.jpg" data-width="250" data-height="250"><img src="/assets/img/runningout.jpg"></a></li>
        </ul>
        {{/photo-swipe}}
    </div>
{{outlet}}
<!-- <div class="media-boxes box-1"></div>
<div class="media-boxes box-2"></div>
<div class="media-boxes box-3"></div>
<div class="media-boxes box-4"></div>
<div class="media-boxes box-5"></div>
<div class="media-boxes box-6"></div>
<div class="media-boxes box-7"></div>
<div class="media-boxes box-8"></div>
<div class="media-boxes box-9"></div> -->
