<div class="index-navbar">
  <div class="nav-left"></div>
  <div class="home-btn">{{link-to "Home" 'welcome'}}</div>
  <div class="nav-container">
    <ul>
      <li>{{link-to "Register" 'register'}}</li>
      <li>{{link-to "Login" 'login'}}</li>
      <li>{{link-to "Map" 'segue.view-one'}}</li>
      <li>{{link-to "Species" 'segue.species-ref'}}</li>
      <li>{{link-to "Radar" 'segue.weather-radar'}}</li>
      <li>{{link-to "Media" 'segue.forum'}}</li>
    </ul>
  </div>
</div>
  <div class="top-border-div"></div>
  <div class="background-image">
    <div class="species-wrapper">
      <h1 contenteditable="" style="text-shadow: rgb(204, 204, 204) 0px 1px 0px, rgb(201, 201, 201) 0px 2px 0px, rgb(187, 187, 187) 0px 3px 0px, rgb(185, 185, 185) 0px 4px 0px, rgb(170, 170, 170) 0px 5px 0px, rgba(0, 0, 0, 0.0980392) 0px 6px 1px, rgba(0, 0, 0, 0.0980392) 0px 0px 5px, rgba(0, 0, 0, 0.298039) 0px 1px 3px, rgba(0, 0, 0, 0.2) 0px 3px 5px, rgba(0, 0, 0, 0.247059) 0px 5px 10px, rgba(0, 0, 0, 0.2) 0px 10px 10px, rgba(0, 0, 0, 0.14902) 0px 30px 30px;">Game Fish Charts</h1>
      <ul class="logo-list">
        <li class="chart chart-1"><img src="/assets/img/species-1.png"></li>
        <li class="chart chart-2"><img src="/assets/img/chart-3.jpg"></li>
        <li class="chart chart-3"><img src="/assets/img/species-2.jpg"></li>
        <li class="chart chart-4"><img src="/assets/img/marlinchart.jpg"></li>
        <li class="chart chart-5"><img src="/assets/img/sc-fishlist.jpg"></li>
      </ul>
    </div>
  </div>
{{outlet}}
