<div class="index-navbar">
  <div class="nav-left"></div>
  <div class="home-btn">{{link-to "Home" 'welcome'}}</div>
  <div class="nav-container">
    <ul>
      <li>{{link-to "Register" 'register'}}</li>
      <li>{{link-to "Login" 'login'}}</li>
      <li>{{link-to "Map" 'segue.view-one'}}</li>
      <li>{{link-to "Species" 'segue.species-ref'}}</li>
      <li>{{link-to "Radar" 'segue.weather-radar'}}</li>
      <li>{{link-to "Media" 'segue.forum'}}</li>
    </ul>
  </div>
</div>
  <div class="top-border-div"></div>
  <div class="background-image">
    <div class="species-wrapper">
      <h1 contenteditable="" style="text-shadow: rgb(204, 204, 204) 0px 1px 0px, rgb(201, 201, 201) 0px 2px 0px, rgb(187, 187, 187) 0px 3px 0px, rgb(185, 185, 185) 0px 4px 0px, rgb(170, 170, 170) 0px 5px 0px, rgba(0, 0, 0, 0.0980392) 0px 6px 1px, rgba(0, 0, 0, 0.0980392) 0px 0px 5px, rgba(0, 0, 0, 0.298039) 0px 1px 3px, rgba(0, 0, 0, 0.2) 0px 3px 5px, rgba(0, 0, 0, 0.247059) 0px 5px 10px, rgba(0, 0, 0, 0.2) 0px 10px 10px, rgba(0, 0, 0, 0.14902) 0px 30px 30px;">Game Fish Charts</h1>
      <h5 contenteditable="" style="text-shadow: rgb(204, 204, 204) 0px 1px 0px, rgb(201, 201, 201) 0px 2px 0px, rgb(187, 187, 187) 0px 3px 0px, rgb(185, 185, 185) 0px 4px 0px, rgb(170, 170, 170) 0px 5px 0px, rgba(0, 0, 0, 0.0980392) 0px 6px 1px, rgba(0, 0, 0, 0.0980392) 0px 0px 5px, rgba(0, 0, 0, 0.298039) 0px 1px 3px, rgba(0, 0, 0, 0.2) 0px 3px 5px, rgba(0, 0, 0, 0.247059) 0px 5px 10px, rgba(0, 0, 0, 0.2) 0px 10px 10px, rgba(0, 0, 0, 0.14902) 0px 30px 30px;">Primary Reference</h5>

      <ul class="logo-list">
        <li class="chart chart-1"><img src="/assets/img/species-1.png"></li>
        <li class="chart chart-2"><img src="/assets/img/chart-3.jpg"></li>
        <li class="chart chart-3"><img src="/assets/img/species-2.jpg"></li>
        <li class="chart chart-4"><img src="/assets/img/marlinchart.jpg"></li>
      </ul>
      <h5 contenteditable="" style="color: #000; padding-top: 30px; font-size: 28px; text-shadow: rgb(204, 204, 204) 0px 1px 0px, rgb(201, 201, 201) 0px 2px 0px, rgb(187, 187, 187) 0px 3px 0px, rgb(185, 185, 185) 0px 4px 0px, rgb(170, 170, 170) 0px 5px 0px, rgba(0, 0, 0, 0.0980392) 0px 6px 1px, rgba(0, 0, 0, 0.0980392) 0px 0px 5px, rgba(0, 0, 0, 0.298039) 0px 1px 3px, rgba(0, 0, 0, 0.2) 0px 3px 5px, rgba(0, 0, 0, 0.247059) 0px 5px 10px, rgba(0, 0, 0, 0.2) 0px 10px 10px, rgba(0, 0, 0, 0.14902) 0px 30px 30px;">Complete Reference</h5>
    </div>
  </div>
    <div class="background-image-2">
      <ul class="species-list-2">
        <li class="marine-species msl"><img src="/assets/img/species/600x790.png"></li>
        <li class="marine-species msr"><img src="/assets/img/species/620x800.png"></li>
      </ul>
      <ul class="species-list-3">
        <li class="marine-species msl"><img src="/assets/img/species/675x765.png"></li>
        <li class="marine-species msr"><img src="/assets/img/species/665x730.png"></li>
      </ul>
      <ul class="species-list-4">
        <li class="marine-species msl"><img src="/assets/img/species/615x725.png"></li>
        <li class="marine-species msr"><img src="/assets/img/species/660x740.png"></li>
      </ul>
      <ul class="species-list-5">
        <li class="marine-species msl"><img src="/assets/img/species/630x770.png"></li>
        <li class="marine-species msr"><img src="/assets/img/species/650x760.png"></li>
      </ul>
      <ul class="species-list-6">
        <li class="marine-species msl"><img src="/assets/img/species/635x780.png"></li>
        <li class="marine-species msr"><img src="/assets/img/species/640x780.png"></li>
      </ul>
      <ul class="species-list-7">
        <li class="marine-species msl"><img src="/assets/img/species/680x780.png"></li>
        <li class="marine-species msr"><img src="/assets/img/species/660x755.png"></li>
      </ul>
      <ul class="species-list-8">
        <li class="marine-species msl"><img src="/assets/img/species/645x750.png"></li>
        <li class="marine-species msr"><img src="/assets/img/species/660x580.png"></li>
      </ul>
      <ul class="species-list-9">
        <li class="marine-species msl"><img src="/assets/img/species/625x740.png"></li>
        <li class="marine-species msr"><img src="/assets/img/species/695x740.png"></li>
      </ul>
      <ul class="species-list-10">
        <li class="marine-species msl"><img src="/assets/img/species/620x565.png"></li>
        <li class="marine-species msr"><img src="/assets/img/species/660x765.png"></li>
      </ul>
      <ul class="species-list-11">
        <li class="marine-species msx"><img src="/assets/img/species/615x740.png"></li>
      </ul>
    </div>
{{outlet}}
