<div class="wrapper">
  <div class="nav-left"></div>
  <div class="index-navbar">
    <div class="nav-container">
      <ul>
        <li>{{link-to "Home" 'welcome'}}</li>
        <li>{{link-to "Register" 'register'}}</li>
        <li>{{link-to "Login" 'login'}}</li>
        <li>{{link-to "Map (temp)" 'segue.view-one'}}</li>
        <li>{{link-to "Species (temp)" 'segue.species-ref'}}</li>
        <li>{{link-to "Radar (temp)" 'segue.weather-radar'}}</li>
        <li>{{link-to "Media (temp)" 'segue.forum'}}</li>
      </ul>
    </div>
  </div>
  <div class="top-border-div"></div>
    <div class="species-wrapper">
      <ul class="logo-list">
        <li class="logos"><img src="/assets/img/marlin_logo.png"></li>
        <li class="logos"><img src="/assets/img/sailfish_logo.png"></li>
        <li class="logos"><img src="/assets/img/tuna_logo.png"></li>
      </ul>
    </div>
</div>
{{outlet}}
