<div class="wrapper">
  <div class="index-navbar">
    <div class="nav-left"></div>
    <div class="home-btn">{{link-to "Home" 'welcome'}}</div>
    <div class="nav-container">
      <ul>
        <li>{{link-to "Register" 'register'}}</li>
        <li>{{link-to "Login" 'login'}}</li>
        <li>{{link-to "Map" 'segue.view-one'}}</li>
        <li>{{link-to "Species" 'segue.species-ref'}}</li>
        <li>{{link-to "Radar" 'segue.weather-radar'}}</li>
        <li>{{link-to "Media" 'segue.forum'}}</li>
      </ul>
    </div>
  </div>
  <div class="top-border-div"></div>
    <div class="species-wrapper"></div>
</div>
{{outlet}}
