<div class="weather-radar-wrapper">
  <div class="top-border-div"></div>

    <div class="weather-wrapper">

      <h1 class="weather-room-header">Weather Room</h1>

          <div class="weather-box">
            <div class="weather-radar-container"><img {{bind-attr src=model.radar.radarUrl}}></div>
          </div>  <!-- WEATHER-BOX DIV -->

          <div class="weather-box-data">
            <ul class="location">
              <li class="location-stats"><p>Location: {{model.data.current_observation.display_location.full}}</p></li>
              <li class="location-stats"><p>Latitude: {{model.data.current_observation.display_location.latitude}}</p></li>
              <li class="location-stats"><p>Longitude: {{model.data.current_observation.display_location.longitude}}</p></li>
              <br>
            </ul>

            <ul class="date-statistics">
              <li class="date-stats"><p>{{model.data.forecast.simpleforecast.forecastday.[0].date.weekday}}</p></li>
              <li class="date-stats"><p>{{model.data.forecast.simpleforecast.forecastday.[0].date.pretty}}</p></li>
            </ul>
          </div>

          <form class="weather-data-form" {{action "search" on="submit"}}>
            <fieldset class="weather-fieldset">
              <label class="weather-stats">Temperature: {{model.data.current_observation.temperature_string}}<i class="wi wi-thermometer"></i></label>
              <label class="weather-stats">Feels Like: {{model.data.current_observation.feelslike_string}}<i class="wi wi-fahrenheit"></i></label>
              <label class="weather-stats">Weather: {{model.data.current_observation.weather}}<i class="wi wi-day-sunny-overcast"></i></label>
              <label class="weather-stats">High: {{model.data.forecast.simpleforecast.forecastday.[0].high.fahrenheit}}˚<i class="wi wi-day-sunny"></i></label>
              <label class="weather-stats">Low: {{model.data.forecast.simpleforecast.forecastday.[0].low.fahrenheit}}˚<i class="wi wi-day-showers"></i></label>
              <label class="weather-stats">Wind Direction: {{model.data.current_observation.wind_dir}}<i class="wi wi-day-cloudy-windy"></i></label>
              <label class="weather-stats">Visibility (Miles): {{model.data.current_observation.visibility_mi}}<i class="wi wi-horizon"></i></label>
              <label class="weather-stats">Wind Gusts: {{model.data.current_observation.wind_string}}<i class="wi wi-day-cloudy-gusts"></i></label>
              <!-- <label class="weather-stats"></label> -->
            </fieldset>

            <fieldset class="forecast">
              <label class="forecast-stats">{{model.data.forecast.simpleforecast.forecastday.[1].date.weekday}} - </label>
              <label class="forecast-stats">{{model.data.forecast.simpleforecast.forecastday.[1].date.pretty}}</label>
              <label class="forecast-stats">Wind: {{model.data.forecast.simpleforecast.forecastday.[1].avewind.dir}}</label>
              <label class="forecast-stats">{{model.data.forecast.simpleforecast.forecastday.[1].avewind.mph}}</label>
              <label class="forecast-stats">{{model.data.forecast.simpleforecast.forecastday.[1].conditions}}</label>
              <label class="forecast-stats">High: {{model.data.forecast.simpleforecast.forecastday.[1].high.fahrenheit}}˚</label>
              <label class="forecast-stats">Low: {{model.data.forecast.simpleforecast.forecastday.[1].low.fahrenheit}}˚</label>
              <br>
              <label class="forecast-stats">{{model.data.forecast.simpleforecast.forecastday.[2].date.weekday}} - </label>
              <label class="forecast-stats">{{model.data.forecast.simpleforecast.forecastday.[2].date.pretty}}</label>
              <label class="forecast-stats">Wind: {{model.data.forecast.simpleforecast.forecastday.[2].avewind.dir}}</label>
              <label class="forecast-stats">{{model.data.forecast.simpleforecast.forecastday.[2].avewind.mph}}</label>
              <label class="forecast-stats">{{model.data.forecast.simpleforecast.forecastday.[2].conditions}}</label>
              <label class="forecast-stats">High: {{model.data.forecast.simpleforecast.forecastday.[2].high.fahrenheit}}˚</label>
              <label class="forecast-stats">Low: {{model.data.forecast.simpleforecast.forecastday.[2].low.fahrenheit}}˚</label>
              <br>
              <label class="forecast-stats">{{model.data.forecast.simpleforecast.forecastday.[3].date.weekday}} - </label>
              <label class="forecast-stats">{{model.data.forecast.simpleforecast.forecastday.[3].date.pretty}}</label>
              <label class="forecast-stats">Wind: {{model.data.forecast.simpleforecast.forecastday.[3].avewind.dir}}</label>
              <label class="forecast-stats">{{model.data.forecast.simpleforecast.forecastday.[3].avewind.mph}}</label>
              <label class="forecast-stats">{{model.data.forecast.simpleforecast.forecastday.[3].conditions}}</label>
              <label class="forecast-stats">High: {{model.data.forecast.simpleforecast.forecastday.[3].high.fahrenheit}}˚</label>
              <label class="forecast-stats">Low: {{model.data.forecast.simpleforecast.forecastday.[3].low.fahrenheit}}˚</label>
            </fieldset>
            <fieldset class="search">
              <label class="weather-stats">SEARCH OTHER LOCATIONS:</label>
              {{input class="search-field" type="search" placeholder="Enter location..." value=searchTerm}}
            </fieldset>
          </form>
      <div class="wu-credit">POWERED BY<br><img src="/assets/img/wu-s.png"></div>
    <div class="weather"></div>
  </div>
</div>
{{outlet}}
