<div class="index-navbar">
  <div class="nav-left"></div>
  <div class="home-btn"></div>
  <div class="nav-container">
    <ul>
      <li>{{link-to "Home" 'welcome'}}</li>
      <li>{{link-to "Register" 'register'}}</li>
      <li>{{#if session.isAuthenticated}}<a {{ action 'invalidateSession' }} href="javascript:void(0)">Logout</a>
      {{else}}
      {{#link-to 'login'}}Login{{/link-to}}
      {{/if}}
      </li>
      <li>{{link-to "Species" 'segue.species-ref'}}</li>
      <li>{{link-to "Radar" 'segue.weather-radar'}}</li>
      <li>{{link-to "Media" 'segue.forum'}}</li>
      <li>{{link-to "Dashboard" 'segue.dashboard'}}</li>
      <li>{{link-to "Leaders" 'segue.leaders'}}</li>
      <li>{{link-to "Gallery" 'segue.show'}}</li>
    </ul>
  </div>
</div>
{{outlet}}
<div class="footer">
  <ul class="footer-list">

    <li class="footer-icons"><a title="Home"href="/">
      <img src="assets/img/home.png"></a>
    </li>

    <li class="footer-icons"><a title="Marine Species" href="/segue/species-ref">
      <img src="assets/img/fish-48.png"></a>
    </li>

    <li class="footer-icons"><a title="Weather" href="/segue/leaders">
      <img src="assets/img/location-48.png"></a>
    </li>

    <li class="footer-icons"><a title="Weather Radar" href="/segue/weather-radar">
      <img src="assets/img/compass-logo.png"></a>
    </li>

    <li class="footer-icons"><a title="Media" href="/segue/forum">
      <img src="assets/img/nav-48.png"></a>
    </li>

    <li class="footer-icons"><a title="Settings" href="/segue/dashboard">
      <img src="assets/img/settings-48.png"></a>
    </li>

    <li class="footer-icons"><a title="Twitter" target="_blank" href="http://twitter.com/intent/tweet?screen_name=theanglershook">
      <img src="assets/img/twitter-48.png"></a>
    </li>

    <!-- <li class="footer-icons"><a title="Facebook" target="_blank" href="https://www.facebook.com/marlinmag">
      <img src="assets/img/fb.png"></a>
    </li> -->

    <li class="footer-icons"><a title="Search" href="/segue/show">
      <img src="assets/img/search-logo.png"></a>
    </li>
  </ul>
  <p class="copy">2015 &copy; www.TheAnglersHook.com</p>
</div>
