<div class="index-navbar">
  <div class="nav-left"></div>
  <div class="home-btn">{{link-to "Home" 'welcome'}}</div>
  <div class="nav-container">
    <ul>
      <li>{{link-to "Register" 'register'}}</li>
      <li>{{#if session.isAuthenticated}}<a {{ action 'invalidateSession' }} href="javascript:void(0)">Logout</a>
      {{else}}
      {{#link-to 'login'}}Login{{/link-to}}
      {{/if}}
      </li>
      <li>{{link-to "Species" 'segue.species-ref'}}</li>
      <li>{{link-to "Radar" 'segue.weather-radar'}}</li>
      <li>{{link-to "Media" 'segue.forum'}}</li>
      <li>{{link-to "Dashboard" 'segue.dashboard'}}</li>
    </ul>
  </div>
</div>
{{outlet}}
<div class="footer">
  <ul class="footer-list">
    <li class="footer-icons"><a title="Home"href="/"><img src="/assets/img/home-48.png"></a></li>
    <li class="footer-icons"><a title="Marine Species" href="/segue/species-ref"><img src="/assets/img/fish-48.png"></a></li>
    <!-- <li class="footer-icons"><a title="Weather" href="/segue/view-one"><img src="/assets/img/location-48.png"></a></li> -->
    <li class="footer-icons"><a title="Weather Radar" href="/segue/weather-radar"><img src="/assets/img/compass-48.png"></a></li>
    <li class="footer-icons"><a title="Media" href="/segue/forum"><img src="/assets/img/navigation-48.png"></a></li>
    <!-- <li class="footer-icons"><a title="Settings" href="/segue/account-settings"><img src="/assets/img/settings-48.png"></a></li> -->
    <li class="footer-icons"><a title="Twitter" target="_blank" href="http://twitter.com/intent/tweet?screen_name=sportfishjunkie"><img src="/assets/img/twitter-48.png"></a></li>
    <li class="footer-icons"><a title="Facebook" target="_blank" href="https://www.facebook.com/marlinmag"><img src="/assets/img/facebook-48.png"></a></li>
    <!-- <li class="footer-icons"><a title="Search" href="/segue/search"><img src="/assets/img/search-find-48.png"></a></li> -->
  </ul>
  <p class="copy">The Iron Yard &copy; 2015 Ben McLean</p>
</div>
