<div class="mask">
  <div id="loader" class="rotating"></div>
  <script>
    $(window).load(function() {
      $("#loader").delay(500).fadeOut();
      $(".mask").delay(1000).fadeOut("slow");
  });
  </script>
</div>
<div class="wrapper">
  <div class="index-navbar">
    <div class="nav-left"></div>
    <div class="home-btn">{{link-to "Home" 'welcome'}}</div>
    <div class="nav-container">
      <ul>
        <li>{{link-to "Register" 'register'}}</li>
        <li>{{link-to "Login" 'login'}}</li>
        <li>{{link-to "Species" 'segue.species-ref'}}</li>
        <li>{{link-to "Radar" 'segue.weather-radar'}}</li>
        <li>{{link-to "Media" 'segue.forum'}}</li>
      </ul>
    </div>
  </div>
  <div class="top-border-div"></div>
  <div class="login">
    <form class="login-form"{{action 'authenticate' on='submit'}}>
      <fieldset class="login-fieldset">
        <h1 class="login-header">Login</h1>
        <h4>Don't have an account? {{link-to "Create One Here" 'register'}}</h4>
        {{input class="login-email login-field inputters" value=identification type="email" placeholder="Email Address"}}
        {{input type="password" class="login-password login-field inputters" value=password placeholder="Password"}}
        <input type="submit" value="Login" class="login-button"/>
        <span>{{link-to "Forgot Your Password?" 'welcome'}}</span>
      </fieldset>
    </form>
  </div>
</div>
{{outlet}}
