<div class="index-navbar">
  <div class="nav-container">
    <ul>
      <li>{{link-to "Home" 'welcome'}}</li>
      <li>{{link-to "Register" 'register'}}</li>
      <li>{{link-to "Login" 'login'}}</li>
    </ul>
  </div>
</div>
<div class="registration">
  <form class="register-form">
    <h1>Create An Account!</h1>
    <fieldset>
      {{input value=model.firstName placeholder='First Name'}}
      {{input value=model.lastName placeholder='Last Name'}}
      {{input value=model.email placeholder='Email Address'}}
      {{input value=model.username placeholder='Username'}}
      {{input value=model.password placeholder='Password'}}
      <input type="submit" value="Create Account" class="register"/>
    </fieldset>
  </form>
</div>
