<div class="wrapper">
  <div class="nav-left"></div>
  <div class="index-navbar">
    <div class="nav-container">
      <ul>
        <li>{{link-to "Register" 'register'}}</li>
        <li>{{link-to "Login" 'login'}}</li>
        <li>{{link-to "Map (temp)" 'segue.view-one'}}</li>
        <li>{{link-to "Species (temp)" 'segue.species-ref'}}</li>
        <li>{{link-to "Radar (temp)" 'segue.weather-radar'}}</li>
        <li>{{link-to "Media (temp)" 'segue.forum'}}</li>
      </ul>
    </div>
  </div>
  <div class="top-border-div"></div>
  <div class="registration">
    <form class="register-form"{{action 'saveUser' on='submit'}}>
      <fieldset class="reg-fieldset">
        <h1 class="reg-header">Register For Free Account!</h1>
        {{input class="reg-field r1 first-name inputters" value=firstName placeholder='First Name'}}<br>
        {{input class="reg-field r2 last-name inputters" value=lastName placeholder='Last Name'}}<br>
        {{input class="reg-field r1 email inputters" value=email placeholder='Email Address'}}<br>
        {{input class="reg-field r2 username inputters" value=username placeholder='Username'}}<br>
        {{input type="password" class="reg-field r1 password inputters" value=password placeholder='Password'}}<br>
        <input type="submit" value="Create Account" class="register-button"/><br>
        <span>{{link-to "* Continue As Visitor" 'welcome'}}</span><br>
        <span>* Visitors are restricted to non-premium features</span>
      </fieldset>
    </form>
  </div>
</div>
