<div class="mask">
  <div id="loader" class="rotating"></div>
  <script>
    $(window).load(function() {
      $("#loader").delay(500).fadeOut();
      $(".mask").delay(1000).fadeOut("slow");
  });
  </script>
</div>


<div class="wrapper">
  <div class="nav-left"></div>
  <div class="index-navbar">
    <div class="nav-container">
      <ul>
        <li>{{link-to "Home" 'welcome'}}</li>
        <li>{{link-to "Register" 'register'}}</li>
        <li>{{link-to "Login" 'login'}}</li>
        <li>{{link-to "View-1" 'segue.view-one'}}</li>
      </ul>
    </div>
  </div>
  <div class="top-border-div"></div>
  <div class="registration">
    <form class="register-form"{{action 'saveUser' on='submit'}}>
      <fieldset class="reg-fieldset">
        <h1 class="reg-header">Register For Free Account!</h1>
        {{input class="reg-field r1 first-name inputters" value=firstName placeholder='First Name'}}<br>
        {{input class="reg-field r2 last-name inputters" value=lastName placeholder='Last Name'}}<br>
        {{input class="reg-field r1 email inputters" value=email placeholder='Email Address'}}<br>
        {{input class="reg-field r2 username inputters" value=username placeholder='Username'}}<br>
        {{input type="password" class="reg-field r1 password inputters" value=password placeholder='Password'}}<br>
        <input type="submit" value="Create Account" class="register-button"/><br>
        <span>{{link-to "* Continue As Visitor" 'welcome'}}</span><br>
        <span>* Visitors are restricted to non-premium features</span>
      </fieldset>
    </form>
  </div>
</div>
