<div class="index-navbar">
  <div class="nav-left"></div>
  <div class="nav-container">
    <ul>
      <li>{{link-to "Home" 'welcome'}}</li>
      <li>{{link-to "Register" 'register'}}</li>
      <li>{{link-to "Login" 'login'}}</li>
      <li>{{link-to "Map (temp)" 'segue.view-one'}}</li>
      <li>{{link-to "Species (temp)" 'segue.species-ref'}}</li>
      <li>{{link-to "Radar (temp)" 'segue.weather-radar'}}</li>
      <li>{{link-to "Media (temp)" 'segue.forum'}}</li>
    </ul>
  </div>
</div>
<div class="welcome-wrapper">
  <div class="main-index-top">
    <form class="welcome-buttons">
      {{input class="welcomer wlogin" value=login placeholder='Login'}}
      {{input class="welcomer wregister" value=reguster placeholder='Create An Account'}}
    </form>
  </div>
  <div class="main-index-bottom"></div>
</div>
{{outlet}}
