<div class="index-navbar">
  <div class="nav-container">
    <ul>
      <li>{{link-to "About" 'welcome'}}</li>
      <li>{{link-to "Register" 'register'}}</li>
      <li>{{link-to "Login" 'login'}}</li>
      <li>{{link-to "Contact" 'welcome'}}</li>
    </ul>
  </div>
</div>
<div class="main-index"></div>
{{outlet}}
