<div class="index-navbar">
  <div class="nav-left"></div>
  <div class="nav-container">
    <ul>
      <li>{{link-to "Home" 'welcome'}}</li>
      <li>{{link-to "Register" 'register'}}</li>
      <li>{{link-to "Login" 'login'}}</li>
      <li>{{link-to "View-1" 'segue.view-one'}}</li>
      <li>{{link-to "Species" 'segue.species-ref'}}</li>
    </ul>
  </div>
</div>
<div class="welcome-wrapper">
  <div class="main-index-top"></div>
  <div class="main-index-bottom"></div>
</div>
{{outlet}}
